.offeringscard {
  background-color: $color-white;
  border: 1px solid $color-border-badge;
  border-radius: 16px;
  padding: 16px;
  height: auto;
  width: 80%;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  .infoIcon {
    width: 24xp;
    height: 24px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-border-badge;
    padding-bottom: 16px;

    &__heading {
      display: flex;
      font-weight: 700;
      font-size: 16px;
      align-self: center;
    }
  }

  &__buttoncontainer {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;

    &__button {
      flex-basis: 50%;

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }

  &__menulink {
    color: $color-black;
    width: 100%;
    padding: 15px;
    padding-bottom: 6px;

    &__delete {
      padding-bottom: 6px;
    }

    &:link,
    &:visited {
      color: $color-black;
    }
  }

  &__menuicon {
    margin-right: 10px;
  }
}
.offeringcta-dropdown {
  .ui.dropdown .menu > .item {
    padding: 0px !important;
    padding-bottom: 5px !important;
  }
  .ui.dropdown .menu .active.item {
    font-weight: normal;
  }
}
