@import "../../styles/scss/variables/variables";
.reactHotToast {
  max-width: unset !important;
  //   width: calc(100vw - 64px);
  min-height: 48px;
  padding: 12px 12px !important;
  border-radius: 32px !important;
  color: white !important;

  background-color: blue !important;
  &--success {
    background-color: $toast-bg-green !important;
  }
  &--error {
    background-color: $toast-bg-red !important;
  }
}
