.homepagecontainer {
  display: flex;
  justify-content: center;
  padding-top: 40px;

  @include respond(desktop) {
    padding: 84px 0px;
    align-items: center;
  }

  .homepage {
    width: 85%;
    display: flex;
    flex-direction: column;

    @include respond(desktop) {
      width: 40%;
      padding: 60px;
      box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04),
        0px 16px 24px rgba(96, 97, 112, 0.16);
    }

    &__logobox {
      display: flex;
      margin-bottom: 84px;

      @include respond(desktop) {
        margin-bottom: 60px;
      }

      &__logo {
        width: 162px;
        height: 40px;
        align-self: center;
        margin-right: 13px;

        @include respond(desktop) {
          width: 162px;
          height: 40px;
          align-self: center;
        }
      }

      &__text {
        span {
          background: linear-gradient(180deg, #00d2b3 0%, #019886 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          font-weight: 700;
        }

        font-weight: 700;
        font-size: 26.6406px;
        color: $color-black;
        align-self: center;

        @include respond(desktop) {
          font-size: 31.9532px;
        }
      }
    }

    &__mainheading {
      width: 90%;
      font-weight: 800;
      font-size: 24px;
      line-height: 31px;
      text-transform: capitalize;
      color: $color-black;
      margin-bottom: 40px;

      @include respond(desktop) {
        width: 100%;
        font-size: 32px;
        line-height: 130%;
      }

      span {
        background: linear-gradient(180deg, #00d1ff 0%, #9b00fa 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 700;
      }
    }

    &__listsection {
      display: flex;
      flex-direction: column;

      & > * {
        margin-bottom: 16px;

        @include respond(desktop) {
          margin-bottom: 24px;
        }
      }

      & > div:last-child {
        margin-bottom: 0px;
      }

      &__listitem {
        display: flex;

        &__icon {
          transform: translateY(3px);
          margin-right: 10px;
          width: 20px;
          height: 20px;
        }

        &__text {
          display: flex;
          flex-direction: column;

          &__bold {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;

            @include respond(desktop) {
              font-size: 18px;
            }
          }

          &__para {
            font-weight: 600;
            line-height: 18px;
            color: $color-badge;

            @include respond(desktop) {
              font-size: 16px;
            }
          }
        }
      }
    }

    &__buttoncontainer {
      margin-top: 60px;
      width: 100%;

      @include respond(phone) {
        display: none;
      }

      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 12px 16px;
        background-color: $color-black;
        border-radius: 16px;
        color: $color-white;
        outline: none;
        border: none;
        cursor: pointer;

        &:disabled {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .homepage__buttoncontainer {
    display: none;
  }
  .tctextdesktop {
    display: none;
  }
  // .tctext {
  //   display: block;
  // }
  .buttoncontainer__homepage {
    position: fixed;
    z-index: 100;
  }
}
