.profileImage {
  display: flex;
  align-items: center;

  &_image {
    width: 148px;
    height: 148px;
    margin-right: 15px;

    border-radius: 42px;
    overflow: hidden;
    transform: translateX(-10px);

    .profilePic {
      object-fit: cover;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  &_textcontainer {
    display: flex;
    align-self: center;

    &_text {
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      cursor: pointer;
      color: #0094ff;
    }
  }
}
