//COLORS
$color-white: #fff;
$color-black: #0a1629;
$color-badge: #7d8592;
$color-number-badge: #00dab9;
$color-greentext: #32a22a;
$color-bluetext: #2278ff;
$color-blueCta: #358bfe;

//BORDER COLORS
$color-border-badge: #d8e0f0;
$color-border-inputbox: #d8e0f0;
$color-border-gold: #fdb306;
$color-border-green: #00c6a8;
$color-price: #32a22a;

//BACKGROUND COLORS
$bgcolor-lightgreen: #ebf6ea;
$bgcolor-lightblue: #e9f2ff;
$bgcolor-notes: rgba(253, 179, 6, 0.1);
$bgcolor-green: linear-gradient(
  180deg,
  rgba(0, 218, 185, 0.06) 0%,
  rgba(0, 150, 127, 0.06) 100%
);
$toast-bg-green: rgba(82, 176, 98, 0.95);
$toast-bg-red: rgba(255, 64, 88, 0.95);
$bgcolor-totalearningcard: linear-gradient(180deg, #0a1629 0%, #17315a 100%);
$bgcolor-blueCta: #e3f0ff;
