.analyticsheader {
  width: 100%;
  padding: 24px 60px;

  border-bottom: 1px solid #d8e0f0;
  backdrop-filter: blur(2px);
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: $color-black;

  @include respond(phone) {
    display: none;
  }
}

.analyticscontainer {
  display: flex;
  flex-direction: column;
  //   align-items: center;
  margin-top: 20px;
  margin-left: 60px;

  @include respond(phone) {
    margin-left: 0px;
    align-items: center;
  }

  &__box {
    width: 93%;
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      width: 100%;
      align-items: center;
    }

    .analyticstopsection {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      font-family: "Nunito Sans";
      font-style: normal;

      @include respond(phone) {
        width: 85%;
      }

      &__left {
        display: flex;
        gap: 24px;
        align-items: center;

        &--heading {
          display: flex;
          align-self: center;
          font-weight: 700;
          font-size: 18px;
          line-height: 135%;
          color: $color-black;

          @include respond(phone) {
            display: none;
          }
        }
      }

      &__right {
        margin-right: 15px;

        @include respond(phone) {
          margin-right: 0px;
        }
      }
    }

    .analyticsgraphcontainer {
      width: 1060px;

      @include respond(phone) {
        order: 2;
        width: 100%;
      }
    }
  }
}

.areagraph-container {
  @include respond(phone) {
    background: linear-gradient(
      180.88deg,
      rgba(0, 209, 255, 0.04) 0.76%,
      rgba(155, 0, 250, 0.04) 99.24%
    ) !important;
  }
}

.highcharts-title {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: $color-black;
}

.ui.selection.dropdown .menu {
  max-height: 200px !important;
  overflow-y: scroll !important;
}

.ui.dropdown > .menu::-webkit-scrollbar {
  width: 5px; /* or whatever width you want */
}

.ui.dropdown > .menu::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* or whatever color you want */
}

.ui.dropdown > .menu::-webkit-scrollbar-thumb {
  background-color: #888; /* or whatever color you want */
}
