.offerings {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  min-height: calc(100vh - 72px);
  padding-bottom: 48px;
  position: relative;
  // height: 100vh;
  // width: 100%;
  // overflow-y: scroll;

  @include respond(desktop) {
    width: 100%;
    align-items: flex-start;
    justify-content: start;
    margin-top: 0px;
    padding: 32px 0px;
    min-height: initial;
    // height: 100vh;
    // overflow-y: scroll;
  }

  &__box {
    width: 85%;
    display: flex;
    flex-direction: column;

    @include respond(desktop) {
      margin-left: 60px;
      width: 54%;
    }

    h1 {
      font-weight: 700;
      font-size: 16px;
      color: $color-black;
      margin-bottom: 32px;
    }

    &__list {
      display: flex;
      flex-direction: column;

      & > * {
        width: 100%;
        margin-bottom: 16px;
      }

      & > div:last-child {
        margin-bottom: 0px;
      }
    }

    &__buttoncontainer {
      align-self: flex-end;
      position: fixed;
      bottom: 80px;

      @include respond(desktop) {
        bottom: 40px;
      }

      &__button {
        padding: 12px;
        background-color: $color-black;
        color: $color-white;
        font-weight: 500;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
        outline: none;
        border: none;
        cursor: pointer;

        span {
          display: inline-flex;
          align-self: center;
          margin-right: 5px;
        }
      }
    }
  }

  &_priceDisclaimer {
    word-wrap: break-word;
    color: $color-badge;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 16px;
  }
}
